--
-- PostgreSQL database dump
--

\restrict tq0UrBtpxbuWhr6qkotaxzkkP3jdSK0dRareS2wctiDOLeiFwm9Gasc5k0yiDYh

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg12+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: enroll_status_enum; Type: TYPE; Schema: public; Owner: mugang
--

CREATE TYPE public.enroll_status_enum AS ENUM (
    'COMPLETED',
    'CANCELED',
    'BASKET'
);


ALTER TYPE public.enroll_status_enum OWNER TO mugang;

--
-- Name: lecture_category; Type: TYPE; Schema: public; Owner: mugang
--

CREATE TYPE public.lecture_category AS ENUM (
    '전공필수',
    '전공선택',
    '교양필수',
    '교양선택',
    '교직',
    '공통'
);


ALTER TYPE public.lecture_category OWNER TO mugang;

--
-- Name: role_enum; Type: TYPE; Schema: public; Owner: mugang
--

CREATE TYPE public.role_enum AS ENUM (
    'STUDENT',
    'STAFF'
);


ALTER TYPE public.role_enum OWNER TO mugang;

--
-- Name: status_enum; Type: TYPE; Schema: public; Owner: mugang
--

CREATE TYPE public.status_enum AS ENUM (
    '재학',
    '휴학',
    '재직',
    '퇴직'
);


ALTER TYPE public.status_enum OWNER TO mugang;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: chat_message_tb; Type: TABLE; Schema: public; Owner: mugang
--

CREATE TABLE public.chat_message_tb (
    id character varying NOT NULL,
    session_id character varying(100),
    role character varying(20) NOT NULL,
    content character varying NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.chat_message_tb OWNER TO mugang;

--
-- Name: chat_session_tb; Type: TABLE; Schema: public; Owner: mugang
--

CREATE TABLE public.chat_session_tb (
    id character varying(100) NOT NULL,
    user_id bigint,
    title character varying(255),
    created_at timestamp without time zone
);


ALTER TABLE public.chat_session_tb OWNER TO mugang;

--
-- Name: depart_tb; Type: TABLE; Schema: public; Owner: mugang
--

CREATE TABLE public.depart_tb (
    dept_no bigint NOT NULL,
    college character varying(50) NOT NULL,
    depart character varying(255) NOT NULL
);


ALTER TABLE public.depart_tb OWNER TO mugang;

--
-- Name: depart_tb_dept_no_seq; Type: SEQUENCE; Schema: public; Owner: mugang
--

CREATE SEQUENCE public.depart_tb_dept_no_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.depart_tb_dept_no_seq OWNER TO mugang;

--
-- Name: depart_tb_dept_no_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mugang
--

ALTER SEQUENCE public.depart_tb_dept_no_seq OWNED BY public.depart_tb.dept_no;


--
-- Name: enroll_schedule_tb; Type: TABLE; Schema: public; Owner: mugang
--

CREATE TABLE public.enroll_schedule_tb (
    id integer NOT NULL,
    day_number integer NOT NULL,
    open_datetime timestamp without time zone,
    close_datetime timestamp without time zone,
    restriction_type character varying(30) NOT NULL,
    is_active boolean,
    updated_at timestamp without time zone
);


ALTER TABLE public.enroll_schedule_tb OWNER TO mugang;

--
-- Name: enroll_schedule_tb_id_seq; Type: SEQUENCE; Schema: public; Owner: mugang
--

CREATE SEQUENCE public.enroll_schedule_tb_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.enroll_schedule_tb_id_seq OWNER TO mugang;

--
-- Name: enroll_schedule_tb_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mugang
--

ALTER SEQUENCE public.enroll_schedule_tb_id_seq OWNED BY public.enroll_schedule_tb.id;


--
-- Name: enroll_tb; Type: TABLE; Schema: public; Owner: mugang
--

CREATE TABLE public.enroll_tb (
    enroll_no bigint NOT NULL,
    loginid bigint,
    lecture_id bigint,
    sche_no bigint,
    enroll_status public.enroll_status_enum,
    status character varying(20),
    createdat timestamp without time zone
);


ALTER TABLE public.enroll_tb OWNER TO mugang;

--
-- Name: enroll_tb_enroll_no_seq; Type: SEQUENCE; Schema: public; Owner: mugang
--

CREATE SEQUENCE public.enroll_tb_enroll_no_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.enroll_tb_enroll_no_seq OWNER TO mugang;

--
-- Name: enroll_tb_enroll_no_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mugang
--

ALTER SEQUENCE public.enroll_tb_enroll_no_seq OWNED BY public.enroll_tb.enroll_no;


--
-- Name: form_tb; Type: TABLE; Schema: public; Owner: mugang
--

CREATE TABLE public.form_tb (
    id character varying NOT NULL,
    user_id bigint,
    form_type character varying(100) NOT NULL,
    form_data json,
    status character varying(20),
    created_at timestamp without time zone
);


ALTER TABLE public.form_tb OWNER TO mugang;

--
-- Name: grade_tb; Type: TABLE; Schema: public; Owner: mugang
--

CREATE TABLE public.grade_tb (
    id integer NOT NULL,
    user_id bigint,
    enrollment_id bigint,
    grade_letter character varying(5),
    semester character varying(20),
    is_retake boolean
);


ALTER TABLE public.grade_tb OWNER TO mugang;

--
-- Name: grade_tb_id_seq; Type: SEQUENCE; Schema: public; Owner: mugang
--

CREATE SEQUENCE public.grade_tb_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.grade_tb_id_seq OWNER TO mugang;

--
-- Name: grade_tb_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mugang
--

ALTER SEQUENCE public.grade_tb_id_seq OWNED BY public.grade_tb.id;


--
-- Name: lecture_tb; Type: TABLE; Schema: public; Owner: mugang
--

CREATE TABLE public.lecture_tb (
    lecture_id integer NOT NULL,
    course_no character varying(20),
    subject character varying(200) NOT NULL,
    department character varying(100),
    dept_no bigint,
    lec_grade character varying(10),
    credit integer,
    professor character varying(50),
    type public.lecture_category,
    capacity integer,
    count integer,
    waitlist_capacity integer,
    version integer,
    classroom character varying(100)
);


ALTER TABLE public.lecture_tb OWNER TO mugang;

--
-- Name: lecture_tb_lecture_id_seq; Type: SEQUENCE; Schema: public; Owner: mugang
--

CREATE SEQUENCE public.lecture_tb_lecture_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lecture_tb_lecture_id_seq OWNER TO mugang;

--
-- Name: lecture_tb_lecture_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mugang
--

ALTER SEQUENCE public.lecture_tb_lecture_id_seq OWNED BY public.lecture_tb.lecture_id;


--
-- Name: notice_tb; Type: TABLE; Schema: public; Owner: mugang
--

CREATE TABLE public.notice_tb (
    id character varying NOT NULL,
    title character varying(255) NOT NULL,
    content character varying NOT NULL,
    author_id bigint,
    created_at timestamp without time zone
);


ALTER TABLE public.notice_tb OWNER TO mugang;

--
-- Name: notification_tb; Type: TABLE; Schema: public; Owner: mugang
--

CREATE TABLE public.notification_tb (
    id character varying NOT NULL,
    user_id bigint,
    message character varying(255) NOT NULL,
    is_read boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.notification_tb OWNER TO mugang;

--
-- Name: overenroll_tb; Type: TABLE; Schema: public; Owner: mugang
--

CREATE TABLE public.overenroll_tb (
    over_no bigint NOT NULL,
    user_no bigint,
    lecture_id bigint,
    sche_no bigint,
    reason character varying(255),
    loginid character varying(50) NOT NULL
);


ALTER TABLE public.overenroll_tb OWNER TO mugang;

--
-- Name: overenroll_tb_over_no_seq; Type: SEQUENCE; Schema: public; Owner: mugang
--

CREATE SEQUENCE public.overenroll_tb_over_no_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.overenroll_tb_over_no_seq OWNER TO mugang;

--
-- Name: overenroll_tb_over_no_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mugang
--

ALTER SEQUENCE public.overenroll_tb_over_no_seq OWNED BY public.overenroll_tb.over_no;


--
-- Name: rag_docs_tb; Type: TABLE; Schema: public; Owner: mugang
--

CREATE TABLE public.rag_docs_tb (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    content text NOT NULL,
    embedding public.vector(1536),
    created_at timestamp without time zone DEFAULT (now() AT TIME ZONE 'utc'::text),
    metadata json
);


ALTER TABLE public.rag_docs_tb OWNER TO mugang;

--
-- Name: rag_docs_tb_id_seq; Type: SEQUENCE; Schema: public; Owner: mugang
--

CREATE SEQUENCE public.rag_docs_tb_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rag_docs_tb_id_seq OWNER TO mugang;

--
-- Name: rag_docs_tb_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mugang
--

ALTER SEQUENCE public.rag_docs_tb_id_seq OWNED BY public.rag_docs_tb.id;


--
-- Name: schedule_tb; Type: TABLE; Schema: public; Owner: mugang
--

CREATE TABLE public.schedule_tb (
    sche_no integer NOT NULL,
    lecture_id integer,
    day_of_week character varying(1),
    start_min integer,
    end_min integer,
    start_time time without time zone,
    end_time time without time zone,
    classroom character varying(50)
);


ALTER TABLE public.schedule_tb OWNER TO mugang;

--
-- Name: schedule_tb_sche_no_seq; Type: SEQUENCE; Schema: public; Owner: mugang
--

CREATE SEQUENCE public.schedule_tb_sche_no_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.schedule_tb_sche_no_seq OWNER TO mugang;

--
-- Name: schedule_tb_sche_no_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mugang
--

ALTER SEQUENCE public.schedule_tb_sche_no_seq OWNED BY public.schedule_tb.sche_no;


--
-- Name: system_config_tb; Type: TABLE; Schema: public; Owner: mugang
--

CREATE TABLE public.system_config_tb (
    key character varying(100) NOT NULL,
    value character varying(255) NOT NULL
);


ALTER TABLE public.system_config_tb OWNER TO mugang;

--
-- Name: user_tb; Type: TABLE; Schema: public; Owner: mugang
--

CREATE TABLE public.user_tb (
    user_no bigint NOT NULL,
    loginid character varying(50) NOT NULL,
    password character varying(255) NOT NULL,
    role public.role_enum NOT NULL,
    user_name character varying(50) NOT NULL,
    grade integer,
    dept_no bigint,
    user_status public.status_enum NOT NULL,
    birth_date date,
    email character varying(150),
    phone character varying(20),
    is_first_login boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.user_tb OWNER TO mugang;

--
-- Name: user_tb_user_no_seq; Type: SEQUENCE; Schema: public; Owner: mugang
--

CREATE SEQUENCE public.user_tb_user_no_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_tb_user_no_seq OWNER TO mugang;

--
-- Name: user_tb_user_no_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mugang
--

ALTER SEQUENCE public.user_tb_user_no_seq OWNED BY public.user_tb.user_no;


--
-- Name: waitlist_tb; Type: TABLE; Schema: public; Owner: mugang
--

CREATE TABLE public.waitlist_tb (
    id character varying NOT NULL,
    lecture_id integer,
    user_id bigint,
    status character varying(20),
    created_at timestamp without time zone
);


ALTER TABLE public.waitlist_tb OWNER TO mugang;

--
-- Name: depart_tb dept_no; Type: DEFAULT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.depart_tb ALTER COLUMN dept_no SET DEFAULT nextval('public.depart_tb_dept_no_seq'::regclass);


--
-- Name: enroll_schedule_tb id; Type: DEFAULT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.enroll_schedule_tb ALTER COLUMN id SET DEFAULT nextval('public.enroll_schedule_tb_id_seq'::regclass);


--
-- Name: enroll_tb enroll_no; Type: DEFAULT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.enroll_tb ALTER COLUMN enroll_no SET DEFAULT nextval('public.enroll_tb_enroll_no_seq'::regclass);


--
-- Name: grade_tb id; Type: DEFAULT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.grade_tb ALTER COLUMN id SET DEFAULT nextval('public.grade_tb_id_seq'::regclass);


--
-- Name: lecture_tb lecture_id; Type: DEFAULT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.lecture_tb ALTER COLUMN lecture_id SET DEFAULT nextval('public.lecture_tb_lecture_id_seq'::regclass);


--
-- Name: overenroll_tb over_no; Type: DEFAULT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.overenroll_tb ALTER COLUMN over_no SET DEFAULT nextval('public.overenroll_tb_over_no_seq'::regclass);


--
-- Name: rag_docs_tb id; Type: DEFAULT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.rag_docs_tb ALTER COLUMN id SET DEFAULT nextval('public.rag_docs_tb_id_seq'::regclass);


--
-- Name: schedule_tb sche_no; Type: DEFAULT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.schedule_tb ALTER COLUMN sche_no SET DEFAULT nextval('public.schedule_tb_sche_no_seq'::regclass);


--
-- Name: user_tb user_no; Type: DEFAULT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.user_tb ALTER COLUMN user_no SET DEFAULT nextval('public.user_tb_user_no_seq'::regclass);


--
-- Data for Name: chat_message_tb; Type: TABLE DATA; Schema: public; Owner: mugang
--



--
-- Data for Name: chat_session_tb; Type: TABLE DATA; Schema: public; Owner: mugang
--

COPY public.chat_session_tb (id, user_id, title, created_at) FROM stdin;
chat-fix-test-2	2	???? ???	2026-03-11 01:48:40.786187
chat-fix-test-1	2	???? ?? ???	2026-03-11 01:48:40.843836
chat-fix-test-3	2	???? ?? ???	2026-03-11 01:49:05.051451
mock-chat-db5c11c5d3	2	수강신청 규정 알려줘	2026-03-11 01:59:32.229135
\.


--
-- Data for Name: depart_tb; Type: TABLE DATA; Schema: public; Owner: mugang
--



--
-- Data for Name: enroll_schedule_tb; Type: TABLE DATA; Schema: public; Owner: mugang
--

COPY public.enroll_schedule_tb (id, day_number, open_datetime, close_datetime, restriction_type, is_active, updated_at) FROM stdin;
3	2	\N	\N	own_college	f	2026-03-11 01:10:11.821284
4	3	\N	\N	all	f	2026-03-11 01:10:11.822002
1	0	\N	\N	all	f	2026-03-11 01:59:32.249121
2	1	2026-03-11 00:00:00	2026-03-12 00:00:00	own_grade_dept	t	2026-03-11 01:59:32.249895
\.


--
-- Data for Name: enroll_tb; Type: TABLE DATA; Schema: public; Owner: mugang
--

COPY public.enroll_tb (enroll_no, loginid, lecture_id, sche_no, enroll_status, status, createdat) FROM stdin;
2	1	941	1431	BASKET	cart	2026-03-11 01:25:45.792161
7	1	945	1438	BASKET	cart	2026-03-11 01:25:53.864484
8	1	946	1440	BASKET	cart	2026-03-11 01:25:55.193417
9	1	948	1444	BASKET	cart	2026-03-11 01:25:58.111576
10	1	950	1448	BASKET	cart	2026-03-11 01:25:59.17671
11	1	949	1446	BASKET	cart	2026-03-11 01:26:00.215512
14	1	954	\N	CANCELED	cart	2026-03-11 01:39:07.342786
13	1	952	\N	CANCELED	cart	2026-03-11 01:39:07.342783
6	1	944	1436	CANCELED	cart	2026-03-11 01:25:52.851362
\.


--
-- Data for Name: form_tb; Type: TABLE DATA; Schema: public; Owner: mugang
--

COPY public.form_tb (id, user_id, form_type, form_data, status, created_at) FROM stdin;
\.


--
-- Data for Name: grade_tb; Type: TABLE DATA; Schema: public; Owner: mugang
--

COPY public.grade_tb (id, user_id, enrollment_id, grade_letter, semester, is_retake) FROM stdin;
\.


--
-- Data for Name: lecture_tb; Type: TABLE DATA; Schema: public; Owner: mugang
--



--
-- Data for Name: notice_tb; Type: TABLE DATA; Schema: public; Owner: mugang
--

COPY public.notice_tb (id, title, content, author_id, created_at) FROM stdin;
b827ab8e-b9ce-429a-bd7e-9ba3cd618dac	[RAG] ??? ??	??? ?? ?????.	\N	2026-03-11 01:43:32.084178
e835ea1a-54dd-414c-be1d-20908b7e709b	[RAG] mock-rag-20260311015931-7f89ba69	mock rag content for system check	\N	2026-03-11 01:59:32.204794
\.


--
-- Data for Name: notification_tb; Type: TABLE DATA; Schema: public; Owner: mugang
--

COPY public.notification_tb (id, user_id, message, is_read, created_at) FROM stdin;
\.


--
-- Data for Name: overenroll_tb; Type: TABLE DATA; Schema: public; Owner: mugang
--

COPY public.overenroll_tb (over_no, user_no, lecture_id, sche_no, reason, loginid) FROM stdin;
\.


--
-- Data for Name: rag_docs_tb; Type: TABLE DATA; Schema: public; Owner: mugang
--

COPY public.rag_docs_tb (id, title, content, embedding, created_at, metadata) FROM stdin;
\.


--
-- Data for Name: schedule_tb; Type: TABLE DATA; Schema: public; Owner: mugang
--



--
-- Data for Name: system_config_tb; Type: TABLE DATA; Schema: public; Owner: mugang
--

COPY public.system_config_tb (key, value) FROM stdin;
\.


--
-- Data for Name: user_tb; Type: TABLE DATA; Schema: public; Owner: mugang
--

COPY public.user_tb (user_no, loginid, password, role, user_name, grade, dept_no, user_status, birth_date, email, phone, is_first_login, created_at) FROM stdin;
1	201811047	$2b$12$ZYm2Jt1AkEu7ExxiEZAwR.e8vXAQDHJgL3qBwKbvgDoFCpuelVAt2	STUDENT	김준서	\N	\N	재학	\N	\N	\N	\N	\N
2	staff	$2b$12$/wQNhZRpSl2uR7RL9l2maO4VIAPKY75cNa/iQmy9R8mnEysCXYc22	STAFF	교직원	\N	\N	재직	\N	\N	\N	\N	\N
\.


--
-- Data for Name: waitlist_tb; Type: TABLE DATA; Schema: public; Owner: mugang
--

COPY public.waitlist_tb (id, lecture_id, user_id, status, created_at) FROM stdin;
\.


--
-- Name: depart_tb_dept_no_seq; Type: SEQUENCE SET; Schema: public; Owner: mugang
--

SELECT pg_catalog.setval('public.depart_tb_dept_no_seq', 80, true);


--
-- Name: enroll_schedule_tb_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mugang
--

SELECT pg_catalog.setval('public.enroll_schedule_tb_id_seq', 4, true);


--
-- Name: enroll_tb_enroll_no_seq; Type: SEQUENCE SET; Schema: public; Owner: mugang
--

SELECT pg_catalog.setval('public.enroll_tb_enroll_no_seq', 15, true);


--
-- Name: grade_tb_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mugang
--

SELECT pg_catalog.setval('public.grade_tb_id_seq', 1, false);


--
-- Name: lecture_tb_lecture_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mugang
--

SELECT pg_catalog.setval('public.lecture_tb_lecture_id_seq', 1128, true);


--
-- Name: overenroll_tb_over_no_seq; Type: SEQUENCE SET; Schema: public; Owner: mugang
--

SELECT pg_catalog.setval('public.overenroll_tb_over_no_seq', 1, false);


--
-- Name: rag_docs_tb_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mugang
--

SELECT pg_catalog.setval('public.rag_docs_tb_id_seq', 1, false);


--
-- Name: schedule_tb_sche_no_seq; Type: SEQUENCE SET; Schema: public; Owner: mugang
--

SELECT pg_catalog.setval('public.schedule_tb_sche_no_seq', 1716, true);


--
-- Name: user_tb_user_no_seq; Type: SEQUENCE SET; Schema: public; Owner: mugang
--

SELECT pg_catalog.setval('public.user_tb_user_no_seq', 2, true);


--
-- Name: chat_message_tb chat_message_tb_pkey; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.chat_message_tb
    ADD CONSTRAINT chat_message_tb_pkey PRIMARY KEY (id);


--
-- Name: chat_session_tb chat_session_tb_pkey; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.chat_session_tb
    ADD CONSTRAINT chat_session_tb_pkey PRIMARY KEY (id);


--
-- Name: depart_tb depart_tb_pkey; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.depart_tb
    ADD CONSTRAINT depart_tb_pkey PRIMARY KEY (dept_no);


--
-- Name: enroll_schedule_tb enroll_schedule_tb_pkey; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.enroll_schedule_tb
    ADD CONSTRAINT enroll_schedule_tb_pkey PRIMARY KEY (id);


--
-- Name: enroll_tb enroll_tb_pkey; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.enroll_tb
    ADD CONSTRAINT enroll_tb_pkey PRIMARY KEY (enroll_no);


--
-- Name: form_tb form_tb_pkey; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.form_tb
    ADD CONSTRAINT form_tb_pkey PRIMARY KEY (id);


--
-- Name: grade_tb grade_tb_pkey; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.grade_tb
    ADD CONSTRAINT grade_tb_pkey PRIMARY KEY (id);


--
-- Name: lecture_tb lecture_tb_course_no_key; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.lecture_tb
    ADD CONSTRAINT lecture_tb_course_no_key UNIQUE (course_no);


--
-- Name: lecture_tb lecture_tb_pkey; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.lecture_tb
    ADD CONSTRAINT lecture_tb_pkey PRIMARY KEY (lecture_id);


--
-- Name: notice_tb notice_tb_pkey; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.notice_tb
    ADD CONSTRAINT notice_tb_pkey PRIMARY KEY (id);


--
-- Name: notification_tb notification_tb_pkey; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.notification_tb
    ADD CONSTRAINT notification_tb_pkey PRIMARY KEY (id);


--
-- Name: overenroll_tb overenroll_tb_pkey; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.overenroll_tb
    ADD CONSTRAINT overenroll_tb_pkey PRIMARY KEY (over_no);


--
-- Name: rag_docs_tb rag_docs_tb_pkey; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.rag_docs_tb
    ADD CONSTRAINT rag_docs_tb_pkey PRIMARY KEY (id);


--
-- Name: schedule_tb schedule_tb_pkey; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.schedule_tb
    ADD CONSTRAINT schedule_tb_pkey PRIMARY KEY (sche_no);


--
-- Name: system_config_tb system_config_tb_pkey; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.system_config_tb
    ADD CONSTRAINT system_config_tb_pkey PRIMARY KEY (key);


--
-- Name: user_tb user_tb_email_key; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.user_tb
    ADD CONSTRAINT user_tb_email_key UNIQUE (email);


--
-- Name: user_tb user_tb_loginid_key; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.user_tb
    ADD CONSTRAINT user_tb_loginid_key UNIQUE (loginid);


--
-- Name: user_tb user_tb_pkey; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.user_tb
    ADD CONSTRAINT user_tb_pkey PRIMARY KEY (user_no);


--
-- Name: waitlist_tb waitlist_tb_pkey; Type: CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.waitlist_tb
    ADD CONSTRAINT waitlist_tb_pkey PRIMARY KEY (id);


--
-- Name: ix_chat_message_tb_created_at; Type: INDEX; Schema: public; Owner: mugang
--

CREATE INDEX ix_chat_message_tb_created_at ON public.chat_message_tb USING btree (created_at);


--
-- Name: ix_chat_message_tb_session_id; Type: INDEX; Schema: public; Owner: mugang
--

CREATE INDEX ix_chat_message_tb_session_id ON public.chat_message_tb USING btree (session_id);


--
-- Name: ix_chat_session_tb_created_at; Type: INDEX; Schema: public; Owner: mugang
--

CREATE INDEX ix_chat_session_tb_created_at ON public.chat_session_tb USING btree (created_at);


--
-- Name: ix_chat_session_tb_user_id; Type: INDEX; Schema: public; Owner: mugang
--

CREATE INDEX ix_chat_session_tb_user_id ON public.chat_session_tb USING btree (user_id);


--
-- Name: ix_form_tb_created_at; Type: INDEX; Schema: public; Owner: mugang
--

CREATE INDEX ix_form_tb_created_at ON public.form_tb USING btree (created_at);


--
-- Name: ix_form_tb_status; Type: INDEX; Schema: public; Owner: mugang
--

CREATE INDEX ix_form_tb_status ON public.form_tb USING btree (status);


--
-- Name: ix_form_tb_user_id; Type: INDEX; Schema: public; Owner: mugang
--

CREATE INDEX ix_form_tb_user_id ON public.form_tb USING btree (user_id);


--
-- Name: ix_grade_tb_enrollment_id; Type: INDEX; Schema: public; Owner: mugang
--

CREATE INDEX ix_grade_tb_enrollment_id ON public.grade_tb USING btree (enrollment_id);


--
-- Name: ix_grade_tb_user_id; Type: INDEX; Schema: public; Owner: mugang
--

CREATE INDEX ix_grade_tb_user_id ON public.grade_tb USING btree (user_id);


--
-- Name: ix_lecture_tb_department; Type: INDEX; Schema: public; Owner: mugang
--

CREATE INDEX ix_lecture_tb_department ON public.lecture_tb USING btree (department);


--
-- Name: ix_lecture_tb_lec_grade; Type: INDEX; Schema: public; Owner: mugang
--

CREATE INDEX ix_lecture_tb_lec_grade ON public.lecture_tb USING btree (lec_grade);


--
-- Name: ix_lecture_tb_type; Type: INDEX; Schema: public; Owner: mugang
--

CREATE INDEX ix_lecture_tb_type ON public.lecture_tb USING btree (type);


--
-- Name: ix_notification_tb_user_id; Type: INDEX; Schema: public; Owner: mugang
--

CREATE INDEX ix_notification_tb_user_id ON public.notification_tb USING btree (user_id);


--
-- Name: ix_user_tb_user_name; Type: INDEX; Schema: public; Owner: mugang
--

CREATE INDEX ix_user_tb_user_name ON public.user_tb USING btree (user_name);


--
-- Name: ix_waitlist_tb_created_at; Type: INDEX; Schema: public; Owner: mugang
--

CREATE INDEX ix_waitlist_tb_created_at ON public.waitlist_tb USING btree (created_at);


--
-- Name: ix_waitlist_tb_lecture_id; Type: INDEX; Schema: public; Owner: mugang
--

CREATE INDEX ix_waitlist_tb_lecture_id ON public.waitlist_tb USING btree (lecture_id);


--
-- Name: ix_waitlist_tb_user_id; Type: INDEX; Schema: public; Owner: mugang
--

CREATE INDEX ix_waitlist_tb_user_id ON public.waitlist_tb USING btree (user_id);


--
-- Name: chat_message_tb chat_message_tb_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.chat_message_tb
    ADD CONSTRAINT chat_message_tb_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.chat_session_tb(id) ON DELETE CASCADE;


--
-- Name: chat_session_tb chat_session_tb_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.chat_session_tb
    ADD CONSTRAINT chat_session_tb_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_tb(user_no) ON DELETE CASCADE;


--
-- Name: enroll_tb enroll_tb_lecture_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.enroll_tb
    ADD CONSTRAINT enroll_tb_lecture_id_fkey FOREIGN KEY (lecture_id) REFERENCES public.lecture_tb(lecture_id);


--
-- Name: enroll_tb enroll_tb_loginid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.enroll_tb
    ADD CONSTRAINT enroll_tb_loginid_fkey FOREIGN KEY (loginid) REFERENCES public.user_tb(user_no);


--
-- Name: form_tb form_tb_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.form_tb
    ADD CONSTRAINT form_tb_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_tb(user_no) ON DELETE CASCADE;


--
-- Name: grade_tb grade_tb_enrollment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.grade_tb
    ADD CONSTRAINT grade_tb_enrollment_id_fkey FOREIGN KEY (enrollment_id) REFERENCES public.enroll_tb(enroll_no) ON DELETE CASCADE;


--
-- Name: grade_tb grade_tb_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.grade_tb
    ADD CONSTRAINT grade_tb_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_tb(user_no) ON DELETE CASCADE;


--
-- Name: lecture_tb lecture_tb_dept_no_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.lecture_tb
    ADD CONSTRAINT lecture_tb_dept_no_fkey FOREIGN KEY (dept_no) REFERENCES public.depart_tb(dept_no);


--
-- Name: notice_tb notice_tb_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.notice_tb
    ADD CONSTRAINT notice_tb_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.user_tb(user_no);


--
-- Name: notification_tb notification_tb_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.notification_tb
    ADD CONSTRAINT notification_tb_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_tb(user_no) ON DELETE CASCADE;


--
-- Name: overenroll_tb overenroll_tb_lecture_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.overenroll_tb
    ADD CONSTRAINT overenroll_tb_lecture_id_fkey FOREIGN KEY (lecture_id) REFERENCES public.lecture_tb(lecture_id) ON DELETE CASCADE;


--
-- Name: overenroll_tb overenroll_tb_sche_no_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.overenroll_tb
    ADD CONSTRAINT overenroll_tb_sche_no_fkey FOREIGN KEY (sche_no) REFERENCES public.schedule_tb(sche_no) ON DELETE SET NULL;


--
-- Name: overenroll_tb overenroll_tb_user_no_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.overenroll_tb
    ADD CONSTRAINT overenroll_tb_user_no_fkey FOREIGN KEY (user_no) REFERENCES public.user_tb(user_no) ON DELETE CASCADE;


--
-- Name: schedule_tb schedule_tb_lecture_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.schedule_tb
    ADD CONSTRAINT schedule_tb_lecture_id_fkey FOREIGN KEY (lecture_id) REFERENCES public.lecture_tb(lecture_id) ON DELETE CASCADE;


--
-- Name: user_tb user_tb_dept_no_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.user_tb
    ADD CONSTRAINT user_tb_dept_no_fkey FOREIGN KEY (dept_no) REFERENCES public.depart_tb(dept_no) ON DELETE SET NULL;


--
-- Name: waitlist_tb waitlist_tb_lecture_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.waitlist_tb
    ADD CONSTRAINT waitlist_tb_lecture_id_fkey FOREIGN KEY (lecture_id) REFERENCES public.lecture_tb(lecture_id) ON DELETE CASCADE;


--
-- Name: waitlist_tb waitlist_tb_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mugang
--

ALTER TABLE ONLY public.waitlist_tb
    ADD CONSTRAINT waitlist_tb_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_tb(user_no) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict tq0UrBtpxbuWhr6qkotaxzkkP3jdSK0dRareS2wctiDOLeiFwm9Gasc5k0yiDYh

